.containerDetalhes{
    margin-top: 30px;
    height: 530px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 35%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerDetalhes p{
    font-size: 20px;
    font-weight: bold
}

.containerDetalhes:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}



.containerDAG{
    margin-top: 30px;
    height: 400px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 35%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerDAG p{
    font-size: 20px;
    font-weight: bold
}

.containerDAG:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}



.containerDC{
    margin-top: 30px;
    height: 530px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 35%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerDC p{
    font-size: 20px;
    font-weight: bold
}

.containerDC:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}



.containerDCC{
    margin-top: 30px;
    height: 350px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 35%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerDCC p{
    font-size: 20px;
    font-weight: bold
}

.containerDCC:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}



.containerTipos{
    margin-top: 30px;
    height: 130px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 35%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerTipos p{
    font-size: 20px;
    font-weight: bold
}

.containerTipos:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}
