.boxcampo{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.boxcampo input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid black;
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
    background-color: #33d6ff
}

.boxcampo input::placeholder{
    color: blue;
    font-size: 15px;
    line-height: 15px;
}