/* Button */
.button{
    display: inline-block;
    margin:0;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color:#fff;
    /*propriedade que deseja animar, tempo, tipo de animação, delay da animação*/
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform:scale(1.1);    
}
.button-blue:hover{
    background: #005bca;
}
.button-green:hover{
    background: #2c963e;
}
.button-blue:active{
    background: #0fcdfd;
}
.button-green:active{
    background: #74e036;
}

.button-blue{
    background: #0f7afd;
}

.button-green{
    background: #34ae49;
}

@media(max-width: 480px){
    .button{
        display: block;
        width: 100%;
    }
}