
.line-finlandia{
    align-self: center;
    background: blue;
    height: 30%;
    width: 100%;
}

.div-finlandia{
    position: absolute;
    justify-self: flex-start;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.col-finlandia{
    background: blue;
    height: 100%;
    width: 30%;
}