.libano{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.linha-libano{
    height: 30%;
    width: 100%;
    background: red;
}

.img-libano{
    height: 50%;
    width: 35%;
}