.grecia{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box-grecia{
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    height: 65.66%;
    background: white;
}
.block-grecia{
    width: 40%;
    height: 33.5%;
    background: blue;
}

.linha-grecia{
    background: blue;
    height: 10.11%;
    width: 100%
}
