.alemanha{
    flex-direction: column;
    justify-content: flex-start;
}


.linha-alemanha{
    height: 33.33%;
    width: 100%;
}
.linha1-alemanha{
    background: black;  
}
.linha2-alemanha{
    background: red;
}
.linha3-alemanha{
    background: yellow;
}
