.formatacao{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #fff0e6;
    z-index: 5;
    
}
.border{
    border:3px dashed rgba(0,0,0,0.2);
}
.transform{
    transition: transform 0.2s ease-in-out 0s;
}
.transform:hover{
    transform: scale(1.1);
}

.formatacao p {
    border: 2px solid rgba(255, 0, 0, 0.2);
    
}

 .formatacao h1{
    display: inline-block;
    background: #ffa366;
    border-radius: 10px;
}


