/* General */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    background: #fff0e6;
}
@media(max-width:600px){
    body{
        font-size: 14px;
        line-height: 18px
    }
}
a {
    color: #6666ff;
    text-decoration: none;    
}

nav ul,.banner ul{
	text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;    
}

nav li, 
nav a,.banner li {
    display: inline-block;
    transition: background 0.3s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    text-decoration: none;
	
}
nav li:hover,.banner li:hover{
	background: #6666ff;
	border-radius: 4px;
	transform:scale(1.2);    
	
}
nav li:active{
	background: #6699ff;
	border-radius: 4px;
}
nav li
a:hover{
	color: white;
}

nav a:not(.logo){
    padding: 10px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
p{
    margin: 0 0 15px;
}
@media(max-width:600px){
    h2{
        font-size: 20px;
        line-height: 24px;
    }
    h3{
        font-size: 16px;
        line-height: 20px;
    }
    h4{
        font-size: 14px;
        line-height: 18px;
    }
}

h2 {
    font-size: 20px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}
h4{
    font-size: 18px;
    line-height: 22px;
}

.table, 
.table-cell{
    width: 100%;
    height: 100%;
}

.table{
    display: table;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

.text-center{
    text-align: center;
    position: relative;
    z-index: 2;
}

.h2texto{
    font-size:20px;
}
.h2efeito{
    background: linear-gradient(135deg,  rgba(15,122,253,1) 0%,rgba(52,174,73,1) 100%);
    opacity: 0.8;
    z-index: 1;
    position: relativo;
}

.psolucoes{
    font-size: 15px;
    color: black;
    
}

a,button,input,textarea{
    outline: none;
}
hr{
    margin: 30px 0;
    border: none;
    border-top: 1px dashed #aaa;
    clear: both;
}
