body{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pais{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    margin: 20px 0 0;
}

div{
    width: 200px;
    height: 150px;
}

.finlandia,
.japao,
.alemanha,
.grecia,
.libano{
    border: 3px solid #000;
}