.margem{
    margin-top: 20px;
}
.borda{
    border: 2px dashed Rgba(0,0,0,0.5);
    text-align: center;
    border-radius: 10px;
    background:#fff0e6;
}
.borda:hover{
    transform: scale(1.1)
}
.espacamento{
    margin-bottom: 10px;
}


