.containerTDC{
    height: 100px;
    width: 350px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 17%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerTDC li{
    list-style-type: none;
    font-size: 25px;
    margin-left: -10px;  
    font-weight: bold;
}

.containerTDC:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}