.containerAg{
    height: 230px;
    width: 350px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 13%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}
.containerAg h2{
    font-size: 30px;
    margin-left: 10%
    
}
.containerAg li{
    font-size: 25px;
    list-style-type: none;
    margin-bottom: 25px;
    font-weight: bold
}

.containerAg:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}

a{
    margin: auto
}

.button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color:#33d6ff;
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    margin-left: -25px;
    transition: transform 0.3s ease-in-out 0s;
}

.button:hover{
    transform: scale(1.3);
}
.button:active{
    background-color: #00b8e6;
    
}

.boxcampo{
    margin-top: 30px;
    height: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
h5{
    font-size: 12px;
}
