
.nav{
    text-align: center;
    background: -webkit-linear-gradient(left, rgb(197,222,234) 0%,rgb(138,187,215) 31%,rgb(6,109,171) 57%,rgb(6,109,171) 57%); /* Chrome10-25,Safari5.1-6 */
    margin-bottom: 5px;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 30px;
    margin: 0px 0px 10px 0px
}
.divisor{
    
    display: inline-block;
    background-color: #4d88ff; 
    border: 2px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 10px;    
    transition: transform 0.3s ease-in-out 0s;
    margin-right: 10px;
    box-sizing: border-box;
}
.divisor:hover{
    transform: scale(1.5);
    border-radius: 25px;
}
.divisor:active{
   background-color: #33d6ff;
}

 a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    
}

