.container{
    height: 200px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 13%;
    margin-right: 0;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}


.container h3{
    margin-top: 15%;
    font-size: 30px;
}

.container:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}