.cabecalho{

width: 100%;
height: 100%;
text-align: center;
background: -webkit-linear-gradient(left, rgb(197,222,234) 0%,rgb(138,187,215) 31%,rgb(6,109,171) 57%,rgb(6,109,171) 57%); /* Chrome10-25,Safari5.1-6 */
}
.cabecalho h1{
    font-size: 50px;
    margin: 0;
    
}
.boxInputs{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.boxInputs input{
    border: 2px solid black;
    background-color: #ccf5ff;
    border-radius: 50px;
    height: 50px;
    width: 3z00px;
    line-height: 20px;
    font-size: 20px;
}

.boxInputs button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color:#33d6ff;
    cursor: pointer;
    outline: none;
    border: 2px solid black;
}

.boxInputs  button:active{
    background-color: #00b8e6;
}



