form input{
    width: 450px;
    margin-top: 5px;
    height: 20px;
}
section h2{
	font-size: 20px;
	display: inline-block;
	border-radius: 5px;
	background: rgb(57,181,74);
	color: black;
	transition: transform 0.2s ease-in-out 0s;
}
section h2:hover{
	transform: scale(1.1);	
}


form .button{
    width: 100px;
    height: 50px;
    float: right
}

.FormP{
    font-size: 20px;
	border: 2px solid rgba(0,0,1,0.9);
	
}
textarea{
    width: 450px;
    height: 50px;
}
label{
    font-size: 20px;
}

textarea::placeholder,input::placeholder{
    color: black;
}


