/* Header */

.header{
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 3;
}

.logo {
    padding: 10px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}
