/* Section */

.container {
    width: 980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    margin: 0 -15px;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

.col {
    padding: 0 15px;
    float: left;    
    box-sizing: border-box;
}

.col-half {
    width: 50%;
}
.col-25{	
    width: 25%; 
}
.col-75{
    width: 75%;
}
.nopadding{
    padding: 0;
}
.col-33{
    width: 33%;
}

.article-image  {
    margin: 0 15px 10px 0;    
}
