.artigos{
    position: relative;
    background: url('../Img/banner.jpg') no-repeat center bottom / cover;
    color: black;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    
}
.artigos:before{   
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.4;
    background: linear-gradient(135deg,  #0f7afd 10%,#34ae49 58%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
}
.artigos .container{
    position: relative;
    z-index: 2;
    height:calc(100vh - 226px); viewport
    
}
.artigos h2{
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.artigos p{
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
