/*Banner */
.banner{
    position: relative;
    background: url('../Img/banner.jpg') no-repeat center bottom / cover;
    color: #FFF;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.banner:before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
background: -moz-linear-gradient(-45deg,  #0f7afd 1%, #34ae49 58%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #0f7afd 1%,#34ae49 58%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #0f7afd 1%,#34ae49 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.banner .container{
    position: relative;
    z-index: 2;
    height:calc(100vh - 70px); /*viewport*/
}
.banner h1{
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}
.banner p{
    font-size: 22px;
    line-height: 28px;
}
