
.button{
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.button-blue{
    background: #0f7afd;
}
.button-green{
    background: #34ae49;
}