.containerCli li{
    text-align: center;
    list-style-type: none;
    margin-bottom: 25px;
    font-size: 20px;
    padding: 0px;
    font-weight: bold;
}
.containerCli{
    height: 200px;
    width: 450px;
    display: inline-block;
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: 13%;
    background-color: #1a53ff; 
    transition: transform 0.3s ease-in-out 0s;
}

.containerCli:hover{
    background-color: #4d88ff;
    transform: scale(1.3);
    border-radius: 25px;
}
