body{
    background-image: url("./../img/fundo.png");
}
@media(max-width: 600px){
    section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.row {
    margin: 0 -15px;
}
.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}
.col {
    padding: 0 15px;
    float: left;    
    box-sizing: border-box;
}
.col-sm-100{
    width: 100%;
}
.col-sm-75{
    width: 75%;
}
.col-sm-50 {
    width: 50%;
}
.col-sm-25{	
    width: 25%; 
}
@media(min-width:480px){
    .col-md-100{
        width: 100%;
    }
    .col-md-75{
        width: 75%;
    }
    .col-md-50 {
        width: 50%;
    }
    .col-md-25{	
        width: 25%; 
    }  
}
@media(min-width:900px){
    .col-lg-100{
        width: 100%;
    }
    .col-lg-75{
        width: 75%;
    }
    .col-lg-50 {
        width: 50%;
    }
    .col-lg-25{	
        width: 25%; 
    }  
}
.imagem{
    background-image: url("./../img/tentativa.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style-type: none;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.show-box{
    height: 892.63px;
    width: 333.25px;
    margin-left:35%;
    background-color: rgba(255, 0, 0, 1);
    border: 5px solid black;
    background-size: cover; 
    background-position: center center;  
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
}
ul li{
    display: inline-block;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
   box-sizing: border-box;
}
#infopokemon{
    text-align: center;
}
form{
    margin-bottom: 10px;
}
form .pokeinput{
    border-radius: 10px;
    background-color: white;
    border-color: azure;
}
form #buscapoke{
    border-radius: 20px;
}
 .nome, .id{
    display: inline-block;
    margin: 10px;
}
.foto{
    width: 132px;
    border: 2px solid rgba(0,0 , 0, 1);
    display: block;
    margin: auto auto;
    position: relative center;
    background-color: #FFF;
    transition: transform 0.3s ease-in-out 0s;
}
.foto:hover{
    transform: scale(1.3);
}
#dadosPokemon{
    text-align: center;
    box-sizing: border-box;
    margin: auto auto;
}
h2{
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.IdNome{
    border: 2px solid black;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color:  #b3ffff; 
    font-weight: bold;
    transition: transform 0.3s ease-in-out 0s;
}
.IdNome:hover,.StatusStyle:hover,.AlturaPeso:hover,.tiposStyle:hover{
    transform: scale(1.2);
    background-color: #FFF;
}
.StatusStyle,.AlturaPeso{
    border: 2px solid black;
    border-radius: 300px;
    background-color:  #b3ffff; 
    transition: transform 0.3s ease-in-out 0s;
}
.stat{
    font-size: 15px;
}
.status li{
    font-size: 13px;
    
}
.AlturaPeso{
    border-radius: 100px;
}
.tiposStyle{
    background-color: aquamarine;
    border-radius: 100px;
    transition: transform 0.3s ease-in-out 0s;
}
.tipos{
    font-size: 15px;
}
.tipo{
    margin-top: -10px;
    font-size: 15px;
    margin-left: -10px;
    margin-right: 10px;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

