/* Header */



.logo {
    padding: 10px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 100px;
    background-color: antiquewhite;
   
}

@media(max-width: 600px){
    .header,.show-box,.logo{
        text-align: center;
    }
    .logo, .header ul{
        float: none;
    }
    .logo{
        padding-top: 0;
        margin-bottom: 10px;
    }
    .header nav{
       padding: 0;
    }
    .header a:not(.logo){
        padding: 7px;
        font-size: 12px;;
        line-height: 12px;

    }
}
